

.RollDice button {
  display: block;
  margin: auto;
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: azure;
  background-color: black;
  margin-top: 2rem;
}

.RollDice button:hover {
  background-color:rgb(192, 26, 95);
}